<aside class="p-share">
  <div class="share-inner">
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink | relURL  }}&title={{ .Title }}" title="はてなブックマーク" class="ht" target="_blank" rel="nofollow"></a>
    <a href="http://www.facebook.com/sharer.php?u={{ .Permalink | relURL  }}&t={{ .Title }}" title="Facebookでシェア" class="fb" target="_blank" rel="nofollow"></a>
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink | relURL  }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitterでシェア" class="tw" target="_blank" rel="nofollow"></a>
    <a href="https://plus.google.com/share?url={{ .Permalink | relURL  }}" title="Google Plusでシェア" class="gp" target="_blank" rel="nofollow"></a>
    <a href="http://line.me/R/msg/text/?{{ .Title }} {{ .Permalink | relURL  }}" title="LINEでシェア" class="ln" target="_blank" rel="nofollow"></a>
  </div>
</aside>
